body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:499px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:664px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:0px;
  top:143px;
  width:500px;
  height:664px;
}
#u831 {
  position:absolute;
  left:2px;
  top:324px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:296px;
}
#u832 {
  position:absolute;
  left:6px;
  top:149px;
  width:488px;
  height:296px;
}
#u833 {
  position:absolute;
  left:2px;
  top:140px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u834 {
  position:absolute;
  left:6px;
  top:461px;
  width:380px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u836 {
  position:absolute;
  left:6px;
  top:497px;
  width:480px;
  height:1px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838 {
  position:absolute;
  left:18px;
  top:515px;
  width:225px;
  height:148px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:348px;
  top:526px;
  width:138px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842 {
  position:absolute;
  left:271px;
  top:539px;
  width:53px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:18px;
  top:707px;
  width:468px;
  height:90px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:49px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u846 {
  position:absolute;
  left:271px;
  top:589px;
  width:215px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u847 {
  position:absolute;
  left:2px;
  top:16px;
  width:211px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:18px;
  top:661px;
  width:468px;
  height:47px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u851 {
  position:absolute;
  left:-1px;
  top:818px;
  width:500px;
  height:50px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u852 {
  position:absolute;
  left:2px;
  top:17px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u853 {
  position:absolute;
  left:12px;
  top:835px;
  width:41px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u855 {
  position:absolute;
  left:103px;
  top:835px;
  width:55px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:208px;
  top:835px;
  width:29px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:288px;
  top:835px;
  width:60px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:398px;
  top:835px;
  width:87px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:89px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:89px;
}
#u865 {
  position:absolute;
  left:2px;
  top:36px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:53px;
}
#u866 {
  position:absolute;
  left:115px;
  top:18px;
  width:270px;
  height:53px;
}
#u867 {
  position:absolute;
  left:2px;
  top:18px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u868 {
  position:absolute;
  left:442px;
  top:30px;
  width:30px;
  height:30px;
}
#u869 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:0px;
  top:90px;
  width:166px;
  height:50px;
}
#u871 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:167px;
  top:90px;
  width:166px;
  height:50px;
}
#u873 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:334px;
  top:90px;
  width:166px;
  height:50px;
}
#u875 {
  position:absolute;
  left:2px;
  top:17px;
  width:162px;
  word-wrap:break-word;
}
