 <div class="page_content">
  	<h1>Witaj!</h1>
  	<div id="instruction">
		<p>Po kliknięciu w "Start" zostaniesz przekierowany na stronę mającą imitować sklep internetowy. Twoim zadaniem będzie jak najszybciej znaleźć pewien produkt i dodać go do koszyka. Zdjęcie poszukiwanego produktu, jak i jego nazwa, będzie widoczne na górze strony.</p>
		<p>Będą 4 zadania tego typu. Do każdego zadania zostanie Ci przydzielony inny interfejs. Proszę abyś zapamiętał/-a kolejność interfejsów i spróbował/-a im się przyjrzeć. Po wykonaniu zadań poproszę Cię o wypełnienie krótkiej ankiety (5 pytań).</p>
		<p>Całość nie powinna zająć więcej niż 5-7 min.</p>	
	</div>
  	
  	
  	<div id="questions">
  		<p class="bold">Proszę o odpowiedzi na poniższe dwa pytania:</p>
	  	<div class="single_question">
		  	<div class="question">
		  		1) Z jakiego urządzenia korzystasz w tym momencie?
		  	</div>	
		  	<div class="answers horizontal">
		  		
			  	<div class="answer" ng-class="{'selected': device === 'smartphone'}" ng-click="setDevice('smartphone')"> 
			  		<span class="answer_text">Smartphone</span>
			  		<img src="../../img/questions/phone.png" class="answer_img" alt="" />
			  	</div>	
			  	<div class="answer" ng-class="{'selected': device === 'tablet'}" ng-click="setDevice('tablet')">
			  		<span class="answer_text">Tablet</span>
			  		<img src="../../img/questions/tablet.png" class="answer_img" alt="" />
			  	</div>	
		  	
		  	</div>	
	  	</div>
	  	
	  	<div class="single_question">
		  	<div class="question">
		  		2) Której ręki używasz do sterowania smartphonem / tabletem (ręka którą klikasz / tapiesz)?
		  	</div>	
		  	<div class="answers horizontal">
		  		
			  	<div class="answer" ng-class="{'selected': hand === 'left'}" ng-click="setHand('left')">
			  		<span class="answer_text">Lewa</span>
			  		<img src="../../img/questions/left_hand.png" class="answer_img" alt="" />
			  	</div>	
			  	<div class="answer" ng-class="{'selected': hand === 'right'}" ng-click="setHand('right')">
			  		<span class="answer_text">Prawa</span>
			  		<img src="../../img/questions/right_hand.png" class="answer_img" alt="" />
			  	</div>	
		  	</div>	
	  	</div>
  	</div>
  	
  	
  	<div class="full_size_button" ng-click="start()">
  		Start!
  	</div>
  </div>
  
