body,html{
	height: 100%;
	width: 100%;
	display:table;
}
.bold{
	font-weight: bold;
}
body{
	background: #fafafa;
}
#site_conteiner{
	display: table;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	background: #fff;
	height: 100%
}
header{
	display: table;
	width: 100%;
    background: #fff;
    position: relative;
}
header a#cart img{
	width: 25px;
}
header a#cart{
	display: block;
	position: absolute;
    right: 16px;
    top: 16px;
}
header a#logo img{
	max-width: 200px;
}
header a#logo{
	display: table;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}



#product_list{
	margin-top:20px;
}
#main_site_content{
	display: table;
	width: 90%;
	margin: 0 auto;
}
#promocje, #polecane{
	height: 400px;
	background: #808080;
	margin: 30px;
}
#baner{
	width: 100%;
	display: table;
    margin-top: 20px;
}
#baner img{
	display:block;
	width:100%;
}
#navigation{
	display:table;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	background-color:#e59119;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	table-layout:fixed;
	position:fixed;
	bottom:0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#navigation .tab{
	display:table-cell;
	height:40px;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #fff;
	padding-left:5px;
	padding-right:5px;
}
#navigation .tab .menu_img{
	height:40%;
	max-width:90%;
}
#navigation .tab span{
	display:inline-block;
	width:100%;
	padding-top:5px;
    font-family: 'Kanit', sans-serif;
	font-size:10px;
}
#navigation .tab:last-of-type{
	border-right:1px none;
}

footer{
	display: table-footer-group;
	width: 100%;
}
footer ul{
	display: table;
	width:100%;
	list-style-type:none;
	text-align:center;
	table-layout:fixed;
	padding:0;
	margin:0;
    height: 50px;
	padding-bottom:60px;
}
footer ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer ul li a{
	text-decoration:none;
	color:#000;
}
footer ul li a:hover{
	text-decoration:underline;
}

#product_list .product_elem .product_img{
	width:25%;
}
#product_list .product_elem .product_content .product_description{
	display:none;
}
#product_list .product_elem .product_content .product_content_top{
	height:auto;
	height:initial;
}
#product_list .product_elem {
    margin-bottom: 30px;
}
#product_list .product_elem .product_content .product_price{
    font-size: 18px;
    margin-right: 15px;
}
#product_list .product_elem .product_content .button{
    font-size: 13px;
}