 <div class="page_content">
  	<h1>Ankieta</h1>
  	
  	<div id="questions">
	  	<div class="single_question best">
		  	<div class="question">
		  		1) Proszê o uporz¹dkowanie interfejsów z których korzysta³eœ od najlepszego (1) do najgorszego (4):
		  	</div>	
		  	<div class="answers vertical">
		  		
			  	<div class="answer"> 
			  		<span class="answer_text">Smartphone</span>
			  		<img src="../../img/questions/phone.png" class="answer_img" alt="" />
			  	</div>	
		  	
		  	</div>	
	  	</div>
  	</div>
  	
  	
  </div>
  
