body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2199 {
  position:absolute;
  left:10px;
  top:183px;
  width:1180px;
  height:46px;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:2px;
  top:15px;
  width:1176px;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:361px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:10px;
  top:240px;
  width:1180px;
  height:361px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:172px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:252px;
}
#u2203 {
  position:absolute;
  left:20px;
  top:247px;
  width:403px;
  height:252px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:118px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2205 {
  position:absolute;
  left:440px;
  top:249px;
  width:380px;
  height:28px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:2px;
}
#u2207 {
  position:absolute;
  left:440px;
  top:291px;
  width:746px;
  height:1px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:-8px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2209 {
  position:absolute;
  left:440px;
  top:307px;
  width:746px;
  height:81px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2211 {
  position:absolute;
  left:810px;
  top:536px;
  width:138px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2212 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2213 {
  position:absolute;
  left:750px;
  top:549px;
  width:53px;
  height:22px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:440px;
  top:408px;
  width:736px;
  height:108px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:49px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2217 {
  position:absolute;
  left:960px;
  top:536px;
  width:215px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:16px;
  width:211px;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2219 {
  position:absolute;
  left:16px;
  top:625px;
  width:125px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  position:absolute;
  left:10px;
  top:668px;
  width:276px;
  height:300px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:142px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:194px;
}
#u2224 {
  position:absolute;
  left:12px;
  top:670px;
  width:272px;
  height:194px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:89px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2226 {
  position:absolute;
  left:12px;
  top:876px;
  width:272px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2228 {
  position:absolute;
  left:183px;
  top:917px;
  width:101px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2229 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2231 {
  position:absolute;
  left:311px;
  top:668px;
  width:276px;
  height:300px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:142px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:194px;
}
#u2233 {
  position:absolute;
  left:313px;
  top:670px;
  width:272px;
  height:194px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:89px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2235 {
  position:absolute;
  left:313px;
  top:876px;
  width:272px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:484px;
  top:917px;
  width:101px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2238 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  position:absolute;
  left:613px;
  top:668px;
  width:276px;
  height:300px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:142px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:194px;
}
#u2242 {
  position:absolute;
  left:615px;
  top:670px;
  width:272px;
  height:194px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:89px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2244 {
  position:absolute;
  left:615px;
  top:876px;
  width:272px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:786px;
  top:917px;
  width:101px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:914px;
  top:668px;
  width:276px;
  height:300px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:142px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:194px;
}
#u2251 {
  position:absolute;
  left:916px;
  top:670px;
  width:272px;
  height:194px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:89px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2253 {
  position:absolute;
  left:916px;
  top:876px;
  width:272px;
  height:33px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:1087px;
  top:917px;
  width:101px;
  height:49px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  position:absolute;
  left:0px;
  top:1029px;
  width:1200px;
  height:50px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:791px;
  top:1046px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2262 {
  position:absolute;
  left:864px;
  top:1046px;
  width:49px;
  height:16px;
  color:#FFFFFF;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2264 {
  position:absolute;
  left:948px;
  top:1046px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2266 {
  position:absolute;
  left:1011px;
  top:1046px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2268 {
  position:absolute;
  left:1101px;
  top:1046px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:170px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:77px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:75px;
}
#u2273 {
  position:absolute;
  left:408px;
  top:23px;
  width:384px;
  height:75px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:30px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:0px;
  top:125px;
  width:1200px;
  height:50px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2278 {
  position:absolute;
  left:5px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2279 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2280 {
  position:absolute;
  left:204px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2281 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2282 {
  position:absolute;
  left:403px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2283 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2284 {
  position:absolute;
  left:603px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2285 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2286 {
  position:absolute;
  left:802px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2287 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2288 {
  position:absolute;
  left:1001px;
  top:130px;
  width:194px;
  height:40px;
  color:#1E1E1E;
}
#u2289 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u2290 {
  position:absolute;
  left:5px;
  top:175px;
  width:1190px;
  height:194px;
  overflow:hidden;
}
#u2290_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:194px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2290_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2290_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:194px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2290_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:194px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:89px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293 {
  position:absolute;
  left:10px;
  top:8px;
  width:1175px;
  height:185px;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
  font-size:20px;
  text-align:left;
}
#u2295 {
  position:absolute;
  left:2px;
  top:3px;
  width:289px;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2296 {
  position:absolute;
  left:293px;
  top:0px;
  width:293px;
  height:30px;
  font-size:20px;
  text-align:left;
}
#u2297 {
  position:absolute;
  left:2px;
  top:3px;
  width:289px;
  word-wrap:break-word;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2298 {
  position:absolute;
  left:586px;
  top:0px;
  width:293px;
  height:30px;
  font-size:20px;
  text-align:left;
}
#u2299 {
  position:absolute;
  left:2px;
  top:3px;
  width:289px;
  word-wrap:break-word;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u2300 {
  position:absolute;
  left:879px;
  top:0px;
  width:291px;
  height:30px;
  font-size:20px;
  text-align:left;
}
#u2301 {
  position:absolute;
  left:2px;
  top:3px;
  width:287px;
  word-wrap:break-word;
}
#u2302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:150px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:30px;
  width:293px;
  height:150px;
  font-size:18px;
  text-align:left;
}
#u2303 {
  position:absolute;
  left:2px;
  top:20px;
  width:289px;
  word-wrap:break-word;
}
#u2304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:150px;
}
#u2304 {
  position:absolute;
  left:293px;
  top:30px;
  width:293px;
  height:150px;
  font-size:18px;
  text-align:left;
}
#u2305 {
  position:absolute;
  left:2px;
  top:20px;
  width:289px;
  word-wrap:break-word;
}
#u2306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:150px;
}
#u2306 {
  position:absolute;
  left:586px;
  top:30px;
  width:293px;
  height:150px;
  font-size:18px;
  text-align:left;
}
#u2307 {
  position:absolute;
  left:2px;
  top:20px;
  width:289px;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:150px;
}
#u2308 {
  position:absolute;
  left:879px;
  top:30px;
  width:291px;
  height:150px;
  font-size:18px;
  text-align:left;
}
#u2309 {
  position:absolute;
  left:2px;
  top:20px;
  width:287px;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2310 {
  position:absolute;
  left:1164px;
  top:11px;
  width:22px;
  height:22px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  position:absolute;
  left:1186px;
  top:21px;
  width:9px;
  height:16px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
