body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2639px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:2639px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1312px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:2639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:2639px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1312px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16 {
  position:absolute;
  left:24px;
  top:12px;
  width:410px;
  height:33px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:2px;
}
#u18 {
  position:absolute;
  left:24px;
  top:52px;
  width:454px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:24px;
  top:74px;
  width:454px;
  height:25px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:23px;
  top:2545px;
  width:454px;
  height:57px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:450px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:34px;
  top:174px;
  width:451px;
  height:2328px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:68px;
}
#u27 {
  position:absolute;
  left:101px;
  top:0px;
  width:345px;
  height:68px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:341px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:451px;
}
#u29 {
  position:absolute;
  left:0px;
  top:68px;
  width:101px;
  height:451px;
}
#u30 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:451px;
}
#u31 {
  position:absolute;
  left:101px;
  top:68px;
  width:345px;
  height:451px;
}
#u32 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:451px;
}
#u33 {
  position:absolute;
  left:0px;
  top:519px;
  width:101px;
  height:451px;
}
#u34 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:451px;
}
#u35 {
  position:absolute;
  left:101px;
  top:519px;
  width:345px;
  height:451px;
}
#u36 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:451px;
}
#u37 {
  position:absolute;
  left:0px;
  top:970px;
  width:101px;
  height:451px;
}
#u38 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:451px;
}
#u39 {
  position:absolute;
  left:101px;
  top:970px;
  width:345px;
  height:451px;
}
#u40 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:451px;
}
#u41 {
  position:absolute;
  left:0px;
  top:1421px;
  width:101px;
  height:451px;
}
#u42 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:451px;
}
#u43 {
  position:absolute;
  left:101px;
  top:1421px;
  width:345px;
  height:451px;
}
#u44 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:451px;
}
#u45 {
  position:absolute;
  left:0px;
  top:1872px;
  width:101px;
  height:451px;
}
#u46 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:451px;
}
#u47 {
  position:absolute;
  left:101px;
  top:1872px;
  width:345px;
  height:451px;
}
#u48 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:381px;
}
#u49 {
  position:absolute;
  left:157px;
  top:296px;
  width:300px;
  height:381px;
}
#u50 {
  position:absolute;
  left:2px;
  top:182px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:157px;
  top:261px;
  width:110px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:381px;
}
#u53 {
  position:absolute;
  left:157px;
  top:746px;
  width:300px;
  height:381px;
}
#u54 {
  position:absolute;
  left:2px;
  top:182px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:157px;
  top:711px;
  width:32px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:381px;
}
#u57 {
  position:absolute;
  left:157px;
  top:1196px;
  width:300px;
  height:381px;
}
#u58 {
  position:absolute;
  left:2px;
  top:182px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:157px;
  top:1161px;
  width:70px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:381px;
}
#u61 {
  position:absolute;
  left:157px;
  top:1650px;
  width:300px;
  height:381px;
}
#u62 {
  position:absolute;
  left:2px;
  top:182px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:157px;
  top:1615px;
  width:115px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:381px;
}
#u65 {
  position:absolute;
  left:157px;
  top:2097px;
  width:300px;
  height:381px;
}
#u66 {
  position:absolute;
  left:2px;
  top:182px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:157px;
  top:2062px;
  width:159px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69 {
  position:absolute;
  left:34px;
  top:123px;
  width:389px;
  height:47px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:54px;
  top:261px;
  width:58px;
  height:47px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:54px;
  top:711px;
  width:58px;
  height:47px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:54px;
  top:1161px;
  width:58px;
  height:47px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:54px;
  top:1615px;
  width:58px;
  height:47px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:54px;
  top:2062px;
  width:58px;
  height:47px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
