<li><a href="#" class="drawer-brand">{{item.name}}</a></li>
	<li class="drawer-dropdown" ng-repeat="children in item.childrens">
	
		<a class="drawer-menu-item" data-target="#" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
			{{children.name}}
			<span class="drawer-caret"></span>
		</a>
		
		<ul class="drawer-dropdown-menu">
			<li ng-repeat="lastChildren in children.childrens">
				<span ng-click="getProductList(lastChildren.id)" class="drawer-dropdown-menu-item">{{lastChildren.name}}</span>
			</li>
		</ul>
</li>