 <div id="diagram_page" class="page_content">
  	
  	<div class="chart">
	  	<div class="chartTitle">{{diagramModel.title}} </div>
	  	<div class="chartContent">
		  	<div class="singleChart">
		  			<canvas id="avg1"  class="chart chart-base" chart-type="diagramType" chart-options="options"
					  chart-data="diagramData" chart-labels="diagramLabels" chart-series="diagramSeries">
					</canvas>
		  	</div>
	  	
	  	</div>
	  	<select ng-model="diagramModel" 
			  	ng-options="option as option.title for option in diagramOptions track by option.id" 
			  	ng-change="getDiagramData(diagramModel.id)">
		</select>
		
  	</div>
 </div>
  
