<div id="popup_succes">
  	<div class="popup_text">Gratulacje, znalazłeś wymagany produkt!</div>
  	
  	<div class="popup_buttons">
  		<div class="button" ng-click="completeTask()">Dalej</div>
  	</div>
</div>
  
<div id="popup_bad">
  	<div class="popup_text">Dodałeś do koszyka nieprawidłowy produkt</div>
  	
  	<div class="popup_buttons">
  		<div class="button grey" ng-click="abortCurrentTask()">Pomiń zadanie</div>
  		<div class="button" ng-click="continueSearch()">Szukaj dalej</div>
  	</div>
</div>