body,html{
	height: 100%;
	width: 100%;
	display:table;
}
.bold{
	font-weight: bold;
}
body{
	background: #fff;
}
h1{
    padding-top: 0;
    font-size: 25px;
    display: table;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.bold{
	font-weight:bold;
}
#instruction p{
	padding-bottom:10px;
}
#startButton{
	display:block;
	width:80%;
	height:70px;
	font-size:14pt;
	color:#000;
	background-color:#e59119;
	text-align:center;
	line-height:70px;
	color:#fff;
	text-decoration:none;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:20px;
}
footer#mobile_footer{
	display: table;
	width: 100%;
	background:#e59119;
}
footer#mobile_footer ul{
	display: table;
	width:100%;
	list-style-type:none;
	text-align:center;
	table-layout:fixed;
	padding:0;
	margin:0;
    height: 50px;
}
footer#mobile_footer ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer#mobile_footer ul li a{
	text-decoration:none;
	color:#fff;
}
footer#mobile_footer ul li a:hover{
	text-decoration:underline;
}

.page_content{
	width:90%;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	font-size:20px;
	line-height:30px
}
#questions{
    box-sizing: border-box;
	padding-top:40px;
}
.single_question{
	padding-top:20px;
	padding-bottom:30px;
    box-sizing: border-box;
}
.question{
	padding-bottom:20px;
	
}
.answers{
	display:table;
	width:80%;
	margin:0 auto;
	margin-top:10px;
    box-sizing: border-box;
}
.answers.horizontal{
	table-layout:fixed;
}
.answers.horizontal .answer{
	display:table-cell;
	box-sizing:border-box;
	text-align:center;
	vertical-align:top;
	border: 10px solid #fff;
}
.answers.horizontal .answer.selected{
	border-color: #e59119;
}
.answers.horizontal .answer .answer_text{
	display:table;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
}
.answers.horizontal .answer img.answer_img{
	width:80%;
    display: block;
    margin: 0 auto;
}
#task{
	text-align:center;
	padding:20px 0;
}
#task_product{
	padding:15px 0;
}
#category_description{
	font-weight:bold;
}
#product_img img{
	width:80%;
	display:block;
	margin:0 auto;
	margin-top:10px;
}