body,html, #ngViewElem{
	height: 100%;
	width: 100%;
	display:table;
}
.bold{
	font-weight: bold;
}
body{
	background: #fff;
}

h1{
    padding-top: 0;
    font-size: 25px;
    display: table;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.bold{
	font-weight:bold;
}
#instruction p{
	padding-bottom:10px;
}
.full_size_button{
	display:block;
	width:90%;
	height:70px;
	font-size:14pt;
	color:#000;
	background-color:#e59119;
	text-align:center;
	line-height:70px;
	color:#fff;
	text-decoration:none;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:20px;
}
footer#mobile_footer{
	display: table;
	width: 100%;
	background:#e59119;
}
footer#mobile_footer ul{
	display: table;
	width:100%;
	list-style-type:none;
	text-align:center;
	table-layout:fixed;
	padding:0;
	margin:0;
    height: 50px;
}
footer#mobile_footer ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer#mobile_footer ul li a{
	text-decoration:none;
	color:#fff;
}
footer#mobile_footer ul li a:hover{
	text-decoration:underline;
}
.page_content{
	width:90%;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	font-size:20px;
	line-height:30px
}
.question{
    box-sizing: border-box;
	display:table;
	width:100%;
}
.question p{
    margin-bottom: 0;
}
.question > span{
	display: table-cell;
	vertical-align: top;
}
.question > span.question_number{
	width:25px;
}
.single_question{
	padding-top:20px;
	padding-bottom:50px;
    box-sizing: border-box;
}
.link{
	text-decoration:underline;
	color: #ec8500;
}
.single_question:first-of-type{
	padding-top:0;
}
.question{
	padding-bottom:20px;
	
}
.answers{
	display:table;
	width:90%;
	margin:0 auto;
	margin-top:10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align:center;
}
.answers.horizontal .answer{    
	display: inline-block;
    width: 48%;
    max-width: 240px;
	box-sizing:border-box;
	text-align:center;
	vertical-align:top;
	border: 10px solid #e4e4e4;
}
.answers.horizontal .answer:first-of-type{
	margin-right:2%;
}
.answers.horizontal .answer:last-of-type{
	margin-left:2%;
}
.answers.horizontal .answer.selected{
	border-color: #e59119;
}
.answers.horizontal .answer .answer_text{
	display:table;
	width:100%;
	padding:10px 0;
	box-sizing:border-box;
	text-align:center;
}
.answers.horizontal .answer img.answer_img{
	width:80%;
    display: block;
    margin: 0 auto;
}
#task{
	text-align:center;
	padding:20px 0;
}
#task_product{
	padding:15px 0;
}
#category_description{
	font-weight:bold;
}
#product_img img{
	width:80%;
    max-width: 180px;
	display:block;
	margin:0 auto;
	margin-top:10px;
}
#popups{
	display:none;
}
.popup_text{
	padding:15px;
	badding-bottom:0;
	color:#000;
}
.popup_buttons{    
	padding-bottom: 10px;
    display: table;
    width: 100%;
    text-align: center;
}
.popup_buttons .button{
	margin:5px 10px;
	background-color: #e59119;
	color: #fff;
    padding: 0px 20px;
}
.popup_buttons .button.grey{
	background-color: #7b7b7b;
}
.popup_buttons .button:first-of-type{
	margin-left:0;
}
.popup_buttons .button:last-of-type{
	margin-right:0;
}

#product_tf{
	display: table;
    width: 100%;
    background: #404040;
    position:fixed;
    z-index: 100;
    top:0;
    right:0;
}
#product_tf_desktop{
	display: table;
    background: #404040;
    z-index: 100;
    position: absolute;
	width: 100%;
	box-sizing: border-box;
}

#product_tf_desktop #product_tf_table{
	height:100%;
}

#product_tf_table{
	display: table;
	width:100%;
}
#product_tf_table .image_tf{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
    height: 50px;
	width:50px;
	padding:5px;
	box-sizing:border-box;
}
#product_tf_table .image_tf img{
	display:inline-block;
	max-height:100%;
	max-width:100%;
}
#product_tf_table .text_tf{
	display:table-cell;
	text-align:left;
	vertical-align:top;
	padding:5px;
	box-sizing:border-box;
	color:#fff;
    
}
#product_tf_table .text_tf .category_tf_desc{
	display:block;
    font-size:13px;
    line-height: 20px;
}
#product_tf_table .text_tf .product_tf_name{
	display: table;
    table-layout: fixed;
    width: 100%;
}
#product_tf_table .text_tf .product_tf_name .product_tf_name_cont{
    white-space: nowrap;
    overflow: hidden;
    display: table-cell;
    width: 100%;
    padding-right: 15px;
    text-overflow: ellipsis;
    font-size:15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
}

#product_tf_table .button_tf_abort{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	color:#fff;
    background: #bf0000;
    width:50px;
    height:50px;
    font-size:10px;
}
.ui-loader{
	display:none;
}
ul.drag-drop{
	list-style:none;
    display: table-cell;
    vertical-align:top;
	margin:0 auto;
    box-sizing: border-box;
    padding:0;
}
.dragable_table{
	width:100%;
	display:table;
	table-layout:fixed;
}
ul.drag-drop li{
	display:table;
	width:90%;
    box-sizing: border-box;
    padding: 0;
    margin:0 auto;
    background-color: #f7f7f7;
    color: #313131;
    font-size: 14px;
}
ul.drag-drop li:nth-of-type(2n){
    background-color: #eaeaea;
}
ul.drag-drop li .img{
	display:none;
	width:30%;
}
ul.drag-drop li .img img{
	width:100%;
}
ul.drag-drop li .text{    
	display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
}
ul.drag-drop li .rate{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
    width: 24px;
	border-right:1px solid #fff;
}
ul.drag-drop li .content{
	display:table-cell;
	vertical-align:middle;
	padding-left:5px;
}
.drag-drop-instruction {
    font-size: 14px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}
ul.drag-drop li > .dragging{
    background-color: rgba(60, 60, 60, 0.34);
    transform: scale(1.1);
}
ul.drop_area{
	margin-top:20px;
}
span.reset_link {
    display: table;
    width: 95%;
    margin: 0 auto;
    text-align: right;
    margin-top: 10px;
    font-size: 13px;
    text-decoration: underline;
    color: #adadad;
}
.answers select, .answers input {
    border: 10px solid #e4e4e4;
    height: 60px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
}
#finishThanks, #wrong_device {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: #e59119;
}

#finishThanks span, #wrong_device span{
    display: block;
    background-color: #ffffff;
    color: #e59119;
    font-size: 33px;
    font-family: 'Kanit', sans-serif;
    padding: 28px 0;
}
#wrong_device span{
	text-align:center;
}
#diagram_page{
	max-width:900px;
	margin:0 auto;
	width:100%;
	display:table;
}
#again_button{
	margin:0 auto;
	margin-top:100px;
	display:table;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}
.promo{
	display:table;
    width: 100%;
    margin-top:35px;
    table-layout: fixed;
    font-family: 'Kanit', sans-serif;
}
.promo .pro_row{
	display:table;
    width: 100%;
    table-layout: fixed;
}
.promo .single_pro{
	display:table-cell;
    height: 250px;
    padding: 15px;
}

.promo .single_pro .img{
	display:table;
	height:170px;
	width:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}
.promo .single_pro .tittle{
    font-size: 18px;
    text-align: center;
    height: 60px;
	
}
.promo .single_pro .price{
    font-size: 20px;
    font-weight:bold;
    text-align:center;
	
}
.promo .single_pro .price span{
}
.promo .single_pro_first{
    display: table;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.promo .single_pro_first .img{
	display:table-cell;
	height:170px;
	width:170px;
	float:left;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align:top;
    background-position: top center;
}
.promo .single_pro_first .tittle{
	display:table;
    width: 95%;
    margin-left: 5%;
	padding:10px;
	background-color: #e59119;
	color:#fff;
    box-sizing: border-box;
    margin-top: 15px;
    font-size:20px;
}
.promo .single_pro_first .price{
    display: table;
    width: 100%;
    text-align: right;
    font-size: 30px;
    margin-top: 33px;
}
.promo .section_title{
    display: table-caption;
    width: 100%;
    border-bottom: 1px solid #e59119;
    margin-bottom: 8px;
    font-size: 28px;
    box-sizing: border-box;
    padding-bottom: 5px;
}
.promo .single_pro_first .cont{
	display:table-cell;
    vertical-align:top;
    width: 100%;
}
.interfaces_helper_galery{    
	display: table;
    width: 95%;
    table-layout: fixed;
    background: #3a3a3a;
    margin: 0 auto;
    margin-bottom: 20px;
}
.interfaces_helper_galery .table-row{
	display:table;
	width:100%;
}
.interfaces_helper_galery a{
	display:table-cell;
	height:200px;	
	padding:15px;
	vertical-align:top;
	color:#fff;
	text-decoration:none;
}
.interfaces_helper_galery a img{
	display:table;
	width:100%;
	border:2px solid #fff;
}
.interfaces_helper_galery a .title{
    display: table;
    width: 100%;
	color:#fff;
}
.interfaces_helper_galery a .title .number{
	display:block;
	text-align:center;
	font-weight:bold;
	margin-top:10px;
}
.interfaces_helper_galery a .title .title_cont{
	display:block;
	text-align:center;
	margin-top:5px;
}
span.interfsces_link {
    cursor: pointer;
    color: #f99e00;
    text-decoration: underline;
    font-size: 22px;
}