body,html, #ngViewElem{
	height: 100%;
	width: 100%;
	display:table;
}
.bold{
	font-weight: bold;
}
body{
	background: #fff;
}

h1{
    padding-top: 0;
    font-size: 25px;
    display: table;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.bold{
	font-weight:bold;
}
#instruction p{
	padding-bottom:10px;
}
#startButton{
	display:block;
	width:90%;
	height:70px;
	font-size:14pt;
	color:#000;
	background-color:#e59119;
	text-align:center;
	line-height:70px;
	color:#fff;
	text-decoration:none;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:20px;
}
footer#mobile_footer{
	display: table;
	width: 100%;
	background:#e59119;
}
footer#mobile_footer ul{
	display: table;
	width:100%;
	list-style-type:none;
	text-align:center;
	table-layout:fixed;
	padding:0;
	margin:0;
    height: 50px;
}
footer#mobile_footer ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer#mobile_footer ul li a{
	text-decoration:none;
	color:#fff;
}
footer#mobile_footer ul li a:hover{
	text-decoration:underline;
}
.page_content{
	width:90%;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	font-size:20px;
	line-height:30px
}
#questions{
    box-sizing: border-box;
	padding-top:40px;
}
.single_question{
	padding-top:20px;
	padding-bottom:30px;
    box-sizing: border-box;
}
.question{
	padding-bottom:20px;
	
}
.answers{
	display:table;
	width:90%;
	margin:0 auto;
	margin-top:10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align:center;
}
.answers.horizontal .answer{    
	display: inline-block;
    width: 48%;
	box-sizing:border-box;
	text-align:center;
	vertical-align:top;
	border: 10px solid #e4e4e4;
}
.answers.horizontal .answer:first-of-type{
	margin-right:2%;
}
.answers.horizontal .answer:last-of-type{
	margin-left:2%;
}
.answers.horizontal .answer.selected{
	border-color: #e59119;
}
.answers.horizontal .answer .answer_text{
	display:table;
	width:100%;
	padding:10px 0;
	box-sizing:border-box;
	text-align:center;
}
.answers.horizontal .answer img.answer_img{
	width:80%;
    display: block;
    margin: 0 auto;
}
#task{
	text-align:center;
	padding:20px 0;
}
#task_product{
	padding:15px 0;
}
#category_description{
	font-weight:bold;
}
#product_img img{
	width:80%;
    max-width: 180px;
	display:block;
	margin:0 auto;
	margin-top:10px;
}
#popups{
	display:none;
}
.popup_text{
	padding:15px;
	badding-bottom:0;
	color:#000;
}
.popup_buttons{    
	padding-bottom: 10px;
    display: table;
    width: 100%;
    text-align: center;
}
.popup_buttons .button{
	margin:5px 10px;
	background-color: #e59119;
	color: #fff;
    padding: 0px 20px;
}
.popup_buttons .button.grey{
	background-color: #7b7b7b;
}
.popup_buttons .button:first-of-type{
	margin-left:0;
}
.popup_buttons .button:last-of-type{
	margin-right:0;
}

#product_tf{
	display: table;
    width: 100%;
    background: #404040;
    position:fixed;
    z-index: 100;
    top:0;
    right:0;
}
#product_tf_desktop{
	display: table;
    background: #404040;
    z-index: 100;
    position: absolute;
	width: 100%;
	box-sizing: border-box;
}

#product_tf_desktop #product_tf_table{
	height:100%;
}

#product_tf_table{
	display: table;
	width:100%;
}
#product_tf_table .image_tf{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
    height: 50px;
	width:50px;
	padding:5px;
	box-sizing:border-box;
}
#product_tf_table .image_tf img{
	display:inline-block;
	max-height:100%;
	max-width:100%;
}
#product_tf_table .text_tf{
	display:table-cell;
	text-align:left;
	vertical-align:top;
	padding:5px;
	box-sizing:border-box;
	color:#fff;
    
}
#product_tf_table .text_tf .category_tf_desc{
	display:block;
    font-size:13px;
    line-height: 20px;
}
#product_tf_table .text_tf .product_tf_name{
	display: table;
    table-layout: fixed;
    width: 100%;
}
#product_tf_table .text_tf .product_tf_name .product_tf_name_cont{
    white-space: nowrap;
    overflow: hidden;
    display: table-cell;
    width: 100%;
    padding-right: 15px;
    text-overflow: ellipsis;
    font-size:15px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
}

#product_tf_table .button_tf_abort{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	color:#fff;
    background: #bf0000;
    width:50px;
    height:50px;
    font-size:10px;
}
.ui-loader{
	display:none;
}